@import './../../variables';
.search-box {
    position: relative;

    &__input {
        width: 100%;
        padding: 1rem 3.6rem 1rem 1.4rem;
        font-size: 1.5rem;
        outline: none;
        border: 0;
        border-radius: .6rem;
        background-color: $color-bg-main;
        color: $color-font-primary;
    }

    &__icon {
        width: 1.8rem;
        height: 1.8rem;
        fill: $color-icon-inactive;
    }

    &__icon-container {
        top: 0;
        right: 0;
        height: 100%;
        border-top-right-radius: .6rem;
        border-bottom-right-radius: .6rem;
        position: absolute;
        display: flex;
        align-items: center;
        padding: 0 .8rem;
        cursor: pointer;
    }

    &__icon-container:hover {
        background-color: #ddd;
    }
    &__icon-container:hover &__icon{
        
        fill: $color-icon-active;
    }
}