

.collection-container {
  // background: #EBECF2;
  height: 100%;
  overflow: auto;
}

// table {
//   border-collapse: collapse;
//   background: white;
//   // box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);

//   width: 90%;
//   margin: 20px auto;
// }

table tbody tr {
  border-bottom: 1px solid #dddddd;
}


thead th:first-child {
  text-align: left;
  padding-left: 5rem;
}

.name-column {
  text-align: left;
  // width: 30%;
  // display: flex;
  // align-items: center;
  div{
    display: flex;
    align-items: center;
  }

  
  span {
    flex: 1;
    margin-left: 1rem;
    line-height: 2rem;
    font-weight: 700;
    // line-height: 1.7;
  }

  &--child {
    padding-left: 7rem;
    text-align: left;
    font-weight: 700;
  }
}

.action-column {
  display: flex;
  justify-content: center;
}
