@import './../../../variables';
li {
    list-style: none;
    padding: .6rem 2rem;
}

li:hover {
    background-color: $color-item-hover;
}

.collection-list-dialog {
    min-width: 30rem;

    > div {
        margin-left: 2rem;
        margin-right: 2rem;
    }
}

