<div class="header__content">
    <div>
        Bookmarks Web App
    </div>
    <div class="search">
        <div class="search-box ">
            <input type="text" class="search-box__input">
            <div class="search-box__icon-container">
                <svg class="search-box__icon" >
                    <use 
                    xlink:href="assets/sprite.svg#icon-search" >
                    </use>
                </svg>
            </div>
            
        </div>
    </div>
    <div>
        <button class="btn-outline" (click)="addBookmark()">Add Bookmark</button>
    </div>
</div>

<app-dialog *ngIf="showDialog" (closeDialogEvent) = "onCloseDialog(false) ">
    <app-bookmark-form (closeForm)="onCloseDialog($event)"></app-bookmark-form>
</app-dialog>