.header__content {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    // justify-items: center;
    // justify-content: center;
}
.search {
    width: 50%;
    
}   