<div class="tag-container">
    <div class="tag-card">
        <div class="tag-card__name">Test</div>
        <div class="tag-card__count">3</div>
        <div class="tag-card__action">
            <svg class="chip__icon--last">
                <use xlink:href="assets/sprite.svg#icon-clear" href="assets/sprite.svg#icon-edit"></use>
                Ï
            </svg>
        </div>
        <div class="tag-card__action">
            <svg class="chip__icon--last">
                <use xlink:href="assets/sprite.svg#icon-clear" href="assets/sprite.svg#icon-delete"></use>
                Ï
            </svg>
        </div>
    </div>
    <div class="tag-card">
        <div class="tag-card__name">Test</div>
        <div class="tag-card__count">3</div>
        <div class="tag-card__action">
            <svg class="chip__icon--last">
                <use xlink:href="assets/sprite.svg#icon-clear" href="assets/sprite.svg#icon-edit"></use>
                Ï
            </svg>
        </div>
        <div class="tag-card__action">
            <svg class="chip__icon--last">
                <use xlink:href="assets/sprite.svg#icon-clear" href="assets/sprite.svg#icon-delete"></use>
                Ï
            </svg>
        </div>
    </div>
    <div class="tag-card">
        <div class="tag-card__name">Test</div>
        <div class="tag-card__count">3</div>
        <div class="tag-card__action">
            <svg class="chip__icon--last">
                <use xlink:href="assets/sprite.svg#icon-clear" href="assets/sprite.svg#icon-edit"></use>
                Ï
            </svg>
        </div>
        <div class="tag-card__action">
            <svg class="chip__icon--last">
                <use xlink:href="assets/sprite.svg#icon-clear" href="assets/sprite.svg#icon-delete"></use>
                Ï
            </svg>
        </div>
    </div>
    <div class="tag-card">
        <div class="tag-card__name">Test</div>
        <div class="tag-card__count">3</div>
        <div class="tag-card__action">
            <svg class="chip__icon--last">
                <use xlink:href="assets/sprite.svg#icon-clear" href="assets/sprite.svg#icon-edit"></use>
                Ï
            </svg>
        </div>
        <div class="tag-card__action">
            <svg class="chip__icon--last">
                <use xlink:href="assets/sprite.svg#icon-clear" href="assets/sprite.svg#icon-delete"></use>
                Ï
            </svg>
        </div>
    </div>
</div>