<div style="display: flex;">
    <div class="chip chip--blue chip--big active">
        <svg class="chip__icon">
            <use xlink:href="assets/sprite.svg#icon-tag" href="assets/sprite.svg#icon-tag"></use>
            Ï
        </svg>
        Google Play
        <div class="chip__icon-container">
            <svg class="chip__icon--last">
                <use xlink:href="assets/sprite.svg#icon-clear" href="assets/sprite.svg#icon-edit"></use>
                Ï
            </svg>
        </div>
        <div class="chip__icon-container">
            <svg class="chip__icon--last">
                <use xlink:href="assets/sprite.svg#icon-clear" href="assets/sprite.svg#icon-delete"></use>
                Ï
            </svg>
        </div>
    </div>
</div>