<form (submit)="submit($event)">
  <div class="tag-container">
    <div class="tag" *ngFor="let tag of selectedTags; let i = index;">
      <span>{{ tag.name }}</span>
      <svg (click)="removeFromSelectedTags(i)">
        <use
          xlink:href="assets/sprite.svg#icon-clear"
          href="assets/sprite.svg#icon-clear"
        ></use>
        Ï
      </svg>
    </div>
    <input
      type="text"
      name="tag"
      id="tag"
      [formControl]="tagInputControl"
      autocomplete="off"
      (keyup)="inputKeyupEvent($event)"
    />

    <!-- Tag List -->
    <div class="tag-list-container" *ngIf="displaySearchList">
      <ul class="tag-list">
        <li
          *ngFor="let item of searchList; index as i"
          class="tag-list-item"
          [ngClass]="{
            active: i === activeItemIndex
          }"
          (click)="onItemSelection(item)"
        >
          {{ item.id === 0 ? item.name + ' (Create New)' : item.name }}
        </li>
      </ul>
    </div>
  </div>
</form>
