@import "../variables";

.left-nav {
    grid-area: left-nav;
    background-color: $color-bg-main;
}

.header {
    grid-area: header;
    // background-color: green;
}

.main {
    grid-area: main;
    background-color: $color-secondary;
    padding: 2rem 4rem;
    // padding: 10px 20px;
}

.container {
    
    width: 100%;
    margin: 0 auto;
    height: 100vh;
    display: grid;
    grid-template-columns: 18% 82%;
    grid-template-rows:  70px 1fr;
    grid-template-areas: 
        "left-nav header"
        "left-nav main";
}