.left-nav {
    grid-area: left-nav;
    background-color: lightcyan;
}

.header {
    grid-area: header;
    background-color: green;
}

.main {
    grid-area: main;
    background-color: white;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 2fr 8fr;
    grid-template-rows:  70px 1fr;
    grid-template-areas: 
        "left-nav header"
        "left-nav main";
}