<form class="form">
    <div class="form__row">
        <label for="" class="form__label">Name</label>
        <input type="text" class="form__input">
        <p class="form__error-text">Error Message</p>
    </div>
    <div class="form__row">
        <label for="" class="form__label">Title</label>
        <input type="text" class="form__input">
        <p class="form__error-text">Error Message</p>
    </div>
    <div class="form__row">
        <label for="" class="form__label">Url</label>
        <input type="text" class="form__input">
        <p class="form__error-text">Error Message</p>
    </div>
    <div class="form__btn-row">
        <button class="form__btn" style="margin-left: 2rem;">Save</button>
        <button class="btn-outline">Cancel</button>
    </div>
</form>