@import '../../../variables';
.bookmark-card {
    background-color: white;
    position: relative;
    display: flex;
    padding: 2rem .5rem;
    border-bottom: 1px solid rgb(206, 206, 206);
    box-shadow: inset 0 -1px 0 0 rgb(100 121 143 / 12%);
    // align-items: center;

    &:hover {
        box-shadow: inset 1px 0 0 #dadce0, inset -1px 0 0 #dadce0, 0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
        // cursor: pointer;
        // background-color: #d2e5ff;
         > .bookmark-card__action {
             display: flex;
         }
    }

    > div {
        margin-right: 25px;
    }

    &__select {
        align-self: center;

        input[type="checkbox"]{
            transform : scale(1.4);
        }
    }

    &__content {
        flex: 1;
    }
    &__title {
        margin-bottom: .3rem;
        font-size: 1.8rem;
        font-weight: 600;
        color: #242E4C;
    }
    &__url{
        // margin-bottom: 1rem;
        margin-bottom: .6rem;
        font-size: 13px;
        font-weight: 300;
        cursor: pointer;
        color: #7D7A9E;
        letter-spacing: .5px;
    }

    &__notes {
        margin-bottom: 10px;
        font-size: 1.5rem;
        // letter-spacing: .3px;
        font-weight: 400;
        line-height: 26px;
        color: $color-bg-dark;
        // display: none;
    }

    &__additional-info {
        display: flex;
        align-items: center;
    }

    &__tags {
        margin-left: 20px;
    }

    &__tag {
        font-family: 'Mulish', sans-serif;
            margin-right: 1.4rem;
            padding: 2px 2.1rem;
            display: inline-block;
            font-size: 1.3rem;
            font-weight: 500;
            letter-spacing: .2px;
            border-radius: .6rem;
            cursor: pointer;
            border: 2px solid transparent;
            background-color: #EBF2FF;
    color: #4c7dca;
            transition: all 0.3s ease-in-out;
    }

    &__date {
        font-size: 1.3rem;
        font-weight: 500;
        letter-spacing: .3px;
        color: lighten($color-font-primary, 20%);
    }

    &__favicon 
    {   
        margin-top: 6px;
        img {
            width: 24px;
            height: 24px;
        }
    }

    &__action {
        position: absolute;
        right: 0;
        background-color: white;
        z-index: 2;
        display: none;
        top: 15px;
        padding-left: 30px;    
    }

}

.bookmark-card.active{
    background-color: #c2dbff;

}

.bookmark-card.active .bookmark-card__action {
    background-color: #c2dbff;
    .icon-btn:hover {
        background-color: #d5e7ff; 
    }
}