<!-- <select name="test" id="test">
    <option value="test">test</option>
</select>
<app-bookmark-list [bookmarks]="bookmarkList" [collections]="collectionList"></app-bookmark-list> -->
<!-- 
<app-dialog *ngIf="showDialog" (closeDialogEvent)="showDialog = false">
    <app-collection-list [collections]="collectionList"></app-collection-list>
</app-dialog> -->
<!-- <router-outlet></router-outlet> -->

<!-- <app-collection-list [collections]="collectionList"></app-collection-list> -->
<!-- <app-search-result></app-search-result> -->


<!-- <app-dialog>
    <app-bookmark-form></app-bookmark-form>
</app-dialog> -->
<!-- <router-outlet></router-outlet> -->
<!-- <app-collection-list [collections]="collectionList"></app-collection-list> -->
<app-bookmark-list [bookmarks]="bookmarkList" [collections]="collectionList"></app-bookmark-list> 