@import "./../../../variables";
.icon {
  width: 20px;
  height: 20px;
  fill: rgb(63, 61, 61);
}
input[type="checkbox"] {
  transform: scale(1.6);
  // margin-right: 2rem;
}
.bookmarks {
  &__header {
    height: 8rem;
    padding: 1rem 0.5rem;
    display: flex;
    align-items: center;
  }

  &__header-content {
    margin-left: 2rem;
    position: relative;
    flex: 1;
    display: grid;
    grid-template-columns:  1fr auto;
    column-gap: 2rem;
    align-items: center;
  }

  &__header-detail {
    display: flex;
    flex-wrap: wrap;

    > div {
      // margin-bottom: 1rem;
    }
  }

  &__header-actions {
    position: absolute;
    background-color: white;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 6rem;
  }

  &__header-count {
    font-size: 1.6rem;
    font-weight: 600;
    margin-right: 2rem;
  }
}
.content{
  height: calc(100vh - 170px);
  overflow-y: scroll;
  grid-area: b-content;
}
.checkbox {
}

.tag-filter-panel {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 450px;
  position: fixed;
  top: 0;
  background-color: #fff;
  z-index: 10;
  box-shadow: -8px 9px 25px 0 rgb(132 128 177 / 28%);
  padding: 25px;
  transition: all 0.5s ease-in-out;
  &__header {
    display: flex;
    font-family: "Mulish", sans-serif;
    align-items: center;
  }
  &__header-text {
    flex: 1;
  }
  &__header h2 {
    font-size: 2.2rem;
    color: #242e4c;
    font-weight: 600;
    font-family: "Mulish", sans-serif;
  }

  .info-text-grey {
    font-size: 14px;
    color: #7d7a9e;
    // margin-top: 5px;
  }

  .close-btn {
    background-color: $color-icon-hover;
    display: flex;
    align-items: center;
    padding: 0.6rem;
    border-radius: 100%;
    cursor: pointer;

    svg {
      width: 2.6rem;
      height: 2.6rem;
      fill: $color-icon-inactive;
    }
  }
}

.tags-wrapper {
  overflow-y: auto;
}
.tags {
  margin-bottom: 1.5rem;
  &__label {
    font-size: 2rem;
    font-weight: 700;
    color: #7d7a9e;
  }
}

.tag__items {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;

  div {
    margin-bottom: 1.4rem;
  }
}
