@import './../../../variables';
.icon {
    width: 20px;
    height: 20px;
    fill: rgb(63, 61, 61);
}
input[type="checkbox"] {
    transform: scale(1.6);
    // margin-right: 2rem;
}
.bookmarks{

    &__header {
        padding: 1rem .5rem;
        display: grid;
        grid-template-columns: auto auto 1fr auto;
        column-gap: 2rem;
        align-items: center;
    }

    &__header-actions {
        display: flex; 
        align-items: center;
        padding-left: 6rem;
    }

    &__header-count {
        font-size: 1.6rem;
        font-weight: 600;
        margin-right: 2rem;
    }
}

.checkbox {}

.tag-filter-panel {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 450px;
    position: fixed;
    top: 0;
    background-color: #fff;
    z-index: 10;
    box-shadow: -8px 9px 25px 0 rgb(132 128 177 / 28%);
    padding: 25px;
    transition: all .5s ease-in-out;
    &__header {
        display: flex;
        font-family: 'Mulish', sans-serif;
        align-items: center;
    }
    &__header-text {
        flex: 1;
    }
    &__header h2 {
        font-size: 2.2rem;
        color: #242E4C;
        font-weight: 600;
        font-family: 'Mulish', sans-serif;
    }

    .info-text-grey {
        font-size: 14px;
        color: #7D7A9E;
        // margin-top: 5px;
    }

    .close-btn {
        background-color: $color-icon-hover;
        display: flex;
        align-items: center;
        padding: .6rem;
        border-radius: 100%;
        cursor: pointer;

        svg {
            width: 2.6rem;
            height: 2.6rem;
            fill: $color-icon-inactive;
        }
    }
}

.tags-wrapper {
    overflow-y: hidden;
}
.tags {
    margin-bottom: 1.5rem;
    &__label {
        font-size: 2rem;
        font-weight: 700;
        color: #7D7A9E;
    }
}

.tag {
    &__items {
        display: flex;
        flex-wrap: wrap;
    }

    &__item {
        font-family: 'Mulish', sans-serif;
            margin-right: 1.4rem;
            margin-bottom: 1.4rem;
            padding: .4rem 2.1rem;
            display: inline-block;
            font-size: 1.4rem;
            font-weight: 500;
            letter-spacing: .2px;
            border-radius: .6rem;
            cursor: pointer;
            border: 2px solid transparent;
            background-color: #EBF2FF;
    color: #4c7dca;
            transition: all 0.3s ease-in-out;
        
    }

    &__item:hover {
        border: 2px solid #4E91FE;
        color: #2663C7;
    }
}