$font-primary: "Nunito", sans-serif;

$color-font-primary: #373d3f;

$color-primary: #4ca456;
$color-secondary: #fff;
$color-primary-1: #5bb462;
$color-bg-light: #fff;
$color-bg-dark: #303644;
$color-text-on-dark: #b9bcc6;
$color-icon-hover: #e8eaed;
$color-icon-inactive: #696C80;
$color-icon-active: #25272b;
$color-bg-main: #EBECF2;
$color-hr-line-dark: #b9bcc6;
$color-hr-line-light: #f5f5f5;

// Colors for dark mode 
// text 818698
// background: 1B1E26
// option2: #303644 - bg
// #b9bcc6 - text
